/* --------------------------------

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-size: 100%;
    font-family: "Ubuntu", sans-serif;
    color: #3e3947;
    background-color: white;
  }

  body, html {
    height: 100%;
  }

  a {
    color: #3e3947;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  /* --------------------------------

  Modules - reusable parts of our design

  -------------------------------- */
  .cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }

  /* --------------------------------

  Main components

  -------------------------------- */
  .cd-section {
    min-height: 100%;
    position: relative;
    padding: 2em 0;
  }
  .cd-section:nth-of-type(odd) {
    background-color: #3e3947;
  }
  .cd-section:nth-of-type(odd) p {
    color: #898099;
  }
  .cd-section:nth-of-type(even) {
    background-color: #745360;
  }
  .cd-section:nth-of-type(even) p {
    color: #bda3ad;
  }
  .cd-section h1, .cd-section p, .cd-section div, .cd-section img {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
  }

  .cd-section h2 {
    position: absolute;
    left: 50%;
    top: 15%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
  }

  .cd-section h1 {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 80px;
  /*  font-size: 1.25rem; */
  }
  .cd-section h2 {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 80px;
  }
  .cd-section p {
    line-height: 1.6;
  }
  @media only screen and (min-width: 768px) {
    .cd-section h1 {
      font-size: 80px;

    }
    .cd-section p {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 2;
    }
  }

  .cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
    transition-duration: .5s;
  }

  .cd-nav-trigger {
    display: none;
  }

  #cd-vertical-nav {
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  #cd-vertical-nav li {
    text-align: right;
  }
  #cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
  }
  #cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  #cd-vertical-nav a:hover span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  #cd-vertical-nav a:hover .cd-label {
    opacity: 1;
  }
  #cd-vertical-nav a.is-selected .cd-dot {
    background-color: white;
  }
  #cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #d88683;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: white;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  div {
    padding: 20px 0;
    position: relative;
    z-index: 2;
  }
  div input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    width: 300px;
    border-radius: 3px;
    padding: 30px 30px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 25px;
    color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
  }
  div input:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  div input:focus {
    background-color: white;
    width: 500px;
    color: #53e3a6;
  }
  div button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 30px 30px;
    color: #53e3a6;
    border-radius: 3px;
    width: 300px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  div button:hover {
    background-color: #f5f7f9;
  }

  .hidden {
      display: none;
  }


  .slider {
      -webkit-appearance: none;
      width: 500px;
      height: 15px;
      border-radius: 5px;
      padding: 30px 30px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
  }

  .slider:hover {
      opacity: 1;
  }

  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
  }

  .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
  }

.cd-section p {
  position: absolute;
  left: 90%;
  top: 77%;
}
